// Start :: Colors
$main-color: #081438;
$alt-color: #ea8d22;
$light-color: #ffffff;
$pages-bg-color: #020d1a;
$dark-color: #122031;
// End   :: Colors
$transition: 0.5s all;
$a-class-z: 10000;
$shadow: rgba(100, 100, 111, 0.2) 0px 0px 0px 1px;
// Start:: Fonts
$light_font: "Cairo-Light";
$regular_font: "Cairo-Regular";
$medium_font: "Cairo-Medium";
$semi_bold_font: "Cairo-SemiBold";
$bold_font: "Cairo-Bold";
// End:: Fonts
